<div class="col-12">
    <div class="shadow-lg p-3 mb-4 red-bg rounded my-4 my-md-3">
        <h1><i class="fas fa-hamburger"></i><span class="d-none d-md-inline"> Burgers</span> Devoured! <i class="fas fa-hamburger"></i></h1>
    </div>
    {{#each burgers}}
        {{#if dataValues.devoured}}
            <div class="card red-bg mb-2">
                <div class="card-body m-1 p-2">
                    <div class="row no-gutters">
                        <div class="col-1">
                            <span class="badge badge-pill blue-bg">
                                {{dataValues.id}}.
                            </span>
                        </div>
                        <div class="col-8">
                            <h5 class="card-title text-capitalize">{{dataValues.burger_name}}</h5>
                        </div>
                        <div class="col-3">
                            <p class="card-text eat-name">
                                <small class="text-muted">Devoured By: {{dataValues.user_name}}</small>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        {{/if}}
    {{/each}}
</div>