<div class="col-12">
    <div class="shadow-lg p-3 mb-4 red-bg rounded my-4 my-md-3">
        <h1><i class="fas fa-hamburger"></i><span class="d-none d-md-inline"> Burgers</span> Devoured! <i class="fas fa-hamburger"></i></h1>
    </div>
    {{#each burgers}}
        {{#if this.dataValues.devoured}}
            <div class="card red-bg mb-2">
                <div class="card-body m-1 p-2">
                    <h5 class="card-title text-capitalize">
                        <span class="badge badge-pill blue-bg float-left">
                            {{this.dataValues.id}}.
                        </span>{{this.dataValues.burger_name}}
                    </h5>
                </div>
            </div>
        {{/if}}
    {{/each}}
</div>